{% extends "layout.html" %}

{% block title %}
    chai aur tweet
{% endblock %}

{% block content %}
    <h1 class="text-center ">Welcome to tweet list page.</h1>
    <h2 class="text-center ">here you can able to see all the tweets</h2>

    <a class='btn btn-primary mb-3' href="{% url 'tweet_create'  %}"> Create Tweet</a>

    <div class="container row gap-3">
        {% for tweet in tweets %}

        <div class="card" style="width: 18rem;">
            <img class='card-img-top mx-auto d-block' style="width: 100%;" src="{{ tweet.photo.url }}" class="card-img-top" alt="loading...">
            <div class="card-body">
              <h5 class="card-title">{{tweet.user.username}}</h5>
              <p class="card-text">{{tweet.text}}</p>
              
              <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary ">Edit</a>
              <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger ml-5">Delete</a>
              
            </div>
          </div>

        {% endfor %}
    </div>

{% endblock %}